# Save and restore TMPDIR since the Nix shell undesirably overwrites it.
old_tmpdir="$TMPDIR"

use flake

# If TMPDIR wasn't set before, just unset the devShell's override.
if [ -n "$old_tmpdir" ]; then
  export TMPDIR="$old_tmpdir"
else
  unset TMPDIR
fi
